body {
color: #00d5ff;
margin: 0 20%;
padding: 0;
line-height: 1.6;
}

@media screen and (max-width: 768px) {
body {
    margin: 0 5%; /* スマホでは margin を 0 に */
}
}

a {
color: #f2ff00;
}

/* 隠しコンテンツのスタイル */
.hidden-content {
display: none;
width: 100%;
background-color: #fff700;
color: #00d5ff;
padding: 10px;
box-sizing: border-box;
font-size: 20px;
position: relative;
z-index: 10;
opacity: 0;
transform: translateY(-50px);
transition: opacity 1s ease, transform 1s ease;
}

/* ギャラリー */
.image-gallery {
width: 100%;
overflow-x: auto;
white-space: nowrap;
}

.image-gallery img {
width: 30%;
height: auto;
margin-right: 2%;
}

/* メインコンテンツ */
.main-content {
height: 100vh;
padding: 20px;
font-size: 24px;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
}

header {
    width: 100%;
    text-align: center;
    padding: 1rem 0;
}

/* コードブロック全体のスタイル */
pre {
    margin: 2%; /* 上下の外側余白を広げる */
    padding: 2%; /* 内側余白を増やして余裕を持たせる */
    border-radius: 5px; /* 角丸 */
    background: #124C6B; /* 背景色 */
    color: #DEF190; /* テキスト色 */
    max-width: 100%; /* 横幅をコンテナ内に制限 */
    font-size: 1em; /* 統一されたフォントサイズ */
    white-space: pre; /* 折り返さない */
    overflow-x: auto; /* 水平方向のスクロールを有効にする */
    overflow-y: hidden; /* 垂直方向のスクロールを無効化 */
}

/* コード内テキストのスタイル */
code {
    font-size: 1em; /* 通常のフォントサイズ */
    font-weight: normal; /* 通常のフォントウェイト */
    background: transparent; /* 背景を透明にする */
    background: #124C6B; /* 背景色 */
    color: #DEF190; /* テキスト色 */
    padding: 0; /* コード内で余白を取らない */
    border-radius: 0; /* 角丸を無効化 */
}

/* 太字コード用 */
code b {
    font-weight: bold; /* 太字 */
    color: #DEF190; /* 太字時の色変更 */
}


.image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2列 */
    gap: 1%; /* 画像間の隙間 */
}
.image-grid a img {
    width: 100%; /* 画像を列幅に合わせる */
    height: auto; /* 縦横比を維持 */
    border: 1px solid #00d5ff; /* オプション：画像の枠線 */
}