body {
color: #00d5ff;
margin: 0 20%;
padding: 0;
line-height: 1.6;
}

@media screen and (max-width: 768px) {
body {
    margin: 0 5%; /* スマホでは margin を 0 に */
}
}

a {
color: #f2ff00;
}

/* 隠しコンテンツのスタイル */
.hidden-content {
display: none;
width: 100%;
background-color: #fff700;
color: #00d5ff;
padding: 10px;
box-sizing: border-box;
font-size: 20px;
position: relative;
z-index: 10;
opacity: 0;
transform: translateY(-50px);
transition: opacity 1s ease, transform 1s ease;
}

/* ギャラリー */
.image-gallery {
width: 100%;
overflow-x: auto;
white-space: nowrap;
}

.image-gallery img {
width: 30%;
height: auto;
margin-right: 2%;
}

/* メインコンテンツ */
.main-content {
height: 100vh;
padding: 20px;
font-size: 24px;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
}

header {
    width: 100%;
    text-align: center;
    padding: 1rem 0;
}

pre {
    margin: 1em 0; /* ブロック前後の余白 */
    padding: .25em; /* ブロック内の余白 */
    border-radius: 5px; /* 角丸 */
    background: #124C6B; /* 背景色 */
    color: #DEF190; /* 文字色 */
    white-space: pre-wrap; /* はみ出たときに折り返す */
    max-width: 100%;
}

code {
    display: inline-block;
    padding: 0.1em 0.25em; /* 文字周りの余白 */
    color: #DEF190; /* 文字色 */
    background-color: #124C6B; /* 背景色 */
    border-radius: 5px; /* 角丸 */
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2列 */
    gap: 5%; /* 画像間の隙間 */
}
.image-grid a img {
    width: 100%; /* 画像を列幅に合わせる */
    height: auto; /* 縦横比を維持 */
    border: 1px solid #00d5ff; /* オプション：画像の枠線 */
}