body {
color: #00d5ff;
margin: 0 20%;
padding: 0;
line-height: 1.6;
}

@media screen and (max-width: 768px) {
body {
    margin: 0 5%; /* スマホでは margin を 0 に */
}
}

a {
color: #f2ff00;
}
/* 隠しコンテンツのスタイル */
.hidden-content {
display: none;
width: 100%;
background-color: #fff700;
color: rgb(53, 252, 255);
padding: 10px;
box-sizing: border-box;
font-size: 20px;
position: relative;
z-index: 10;
opacity: 0;
transform: translateY(-50px);
transition: opacity 1s ease, transform 1s ease;
}

/* ギャラリー */
.image-gallery {
width: 100%;
overflow-x: auto;
white-space: nowrap;
}

.image-gallery img {
width: 30%;
height: auto;
margin-right: 2%;
}

/* メインコンテンツ */
.main-content {
height: 100vh;
padding: 20px;
font-size: 24px;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
}